@import "tailwindcss";
body{font-family: 'Haffer';}
@font-face {
  font-family: 'Haffer';
  src: url('../fonts/Haffer-Light.woff2') format('woff2'),
      url('../fonts/Haffer-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Haffer';
  src: url('../fonts/Haffer-Bold.woff2') format('woff2'),
      url('../fonts/Haffer-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Haffer';
  src: url('../fonts/Haffer-Heavy.woff2') format('woff2'),
      url('../fonts/Haffer-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Haffer';
  src: url('../fonts/Haffer-Regular.woff2') format('woff2'),
      url('../fonts/Haffer-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Haffer';
  src: url('../fonts/Haffer-Medium.woff2') format('woff2'),
      url('../fonts/Haffer-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Haffer';
  src: url('../fonts/Haffer-SemiBold.woff2') format('woff2'),
      url('../fonts/Haffer-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Haffer';
  src: url('../fonts/Haffer-Thin.woff2') format('woff2'),
      url('../fonts/Haffer-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}


.filter-invert {
    filter: invert(1);
  }
.beige{color:#F0EBE0;} 
@media (max-width: 640px) {
#logo{filter:invert(1);}
}
/*
#F0EBE0
#949496
#010101
*/