---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar2.astro";
import Footer from "../components/footer.astro";
import SmoothScroll from "../components/SmoothScroll.astro";
---

<SmoothScroll />
<Layout>
  <Navbar />

  <section class="contacto pl-6 pr-6 bg-[#F0EBE0] border-b-1 pb-12">
    <div
      class="md:max-w-[1400px] mx-auto md:flex px-4 sm:px-6 lg:px-8 pt-[120px] pb-6"
    >
      <!-- <section class="md:flex contacto mx-auto px-4 sm:px-6 lg:px-8 mt-[120px] pb-6 md:max-w-[1400px]">-->
      <div class="md:w-1/4">
        <h1 class="text-5xl font-bold mb-1 border-b-1 pb-2">Aviso Legal</h1>
      </div>
      <div class="md:w-3/4 mt-[68px] md:pl-[31px] filter grayscale">
        <p>
          Lea cuidadosamente este documento. El mismo constituye el Aviso Legal
          que establece las condiciones de uso y regula el acceso, navegación y
          utilización del Sitio Web ubicado en la URL “www.jarquestudio.com (en
          adelante, “Web”). El acceso, navegación y utilización de la Web
          atribuye al visitante la condición de usuario (en adelante, el
          “Usuario”), implicando la aceptación expresa y sin reservas de todos
          los términos del presente Aviso Legal, teniendo la misma validez y
          eficacia que cualquier contrato celebrado por escrito y firmado. Su
          observancia y cumplimiento serán exigibles respecto de cualquier
          persona que acceda, navegue o utilice la Web. Si Usted no está de
          acuerdo con los términos expuestos, no acceda, navegue o utilice el
          mismo.<br /><br /> 1. Identificación del titular de la Web En cumplimiento
          con el deber de información recogido en la Ley 34/2002 de Servicios de
          la Sociedad de la Información y del Comercio Electrónico, a continuación,
          le informamos: TITULAR de la presente web es JARQUE STUDIO, N.I.F.: B85937795
          DOMICILIO a estos efectos: C/ Alcalá 114, 1ºA, 28009 de Madrid DATOS REGISTRALES:
          inscrita en el registro Mercantil de Madrid, en el tomo 27227, Libro: 0,
          Folio: 127, Sección: 8, Hoja: M 490521, Inscripción: 1ª E-MAIL contato:
          info@jarquestudio.com <br /><br />2. Condiciones generales de uso de
          la Web El acceso y uso de la Web y todos los subdominios y directorios
          incluidos bajo la misma, están sujetos a los términos que se detallan
          en el presente Aviso Legal. La finalidad de la Web es facilitar
          información sobre las actividades y servicios desarrollados por Jarque
          Studio. Jarque Studio podrá modificar esta página Web y sus
          contenidos, en cualquier momento sin necesidad de preaviso. Los
          usuarios aceptan someterse a las Condiciones Generales vigentes en
          cada momento en que acceda a la misma. Jarque Studio podrá modificar
          en cualquier momento el presente Aviso Legal, por lo que le invitamos
          a que revise estos términos cuando visite de nuevo la Web, y en el
          caso de que no fueran de su conformidad, le rogamos no haga uso de la
          Web. <br /><br />3. Enlaces La presente Web puede contener vínculos o
          enlaces con otros portales o sitios web no gestionados por Jarque
          Studio. Jarque Studio hace saber que no ejerce control alguno sobre
          dichos portales o sitios web, ni es responsable de los mismos. Los
          links que esta Web pueda contener se ofrecen únicamente, a modo de
          referencias informativas, cuya finalidad, es facilitar el acceso a
          contenidos considerados de interés. Jarque Studio no asume ningún tipo
          de responsabilidad directa ni indirecta, en relación con la licitud,
          veracidad, utilidad, calidad o fiabilidad de esos contenidos, del
          funcionamiento de la página enlazada o de los posibles daños que
          pudieran derivarse del acceso al uso de dichos enlaces. El usuario
          asume bajo su exclusiva responsabilidad las consecuencias que pudieran
          derivarse del acceso a la página web del enlace. 4. Propiedad
          intelectual e industrial HT Abogados ha creado la presente Web para
          información personal del usuario y ofrecer soluciones en el ámbito de
          la educación para la homologación, o reconocimiento de títulos
          extranjeros en España, así como el asesoramiento jurídico y legal. El
          usuario podrá descargar en un ordenador o imprimir una copia de las
          páginas del Sitio únicamente para su uso personal y con fines
          privados, domésticos, educativos y no comerciales, con la condición de
          no proceder a modificación alguna del Sitio. Salvo indicación en
          contrario, todos los elementos gráficos y textuales que figuran en el
          Sitio, como, principalmente, logotipos, fotografías, imágenes,
          ilustraciones, iconos, textos, obras audiovisuales, música,
          animaciones (denominados en lo sucesivo el “Contenido”), se hallan
          protegidos por la legislación sobre los derechos de autor, el derecho
          de marcas y las disposiciones que emanan de los tratados
          internacionales a escala mundial. La información disponible en este
          Portal se publica únicamente en concepto de información general no
          pudiendo garantizar la exhaustividad ni exactitud completa, no
          haciéndose responsable en ningún caso de errores siendo cualquier uso
          de este sitio por riesgo y cuenta del usuario. Por consiguiente,
          declinamos toda responsabilidad: – por cualquier interrupción del
          sitio; – por la aparición errores informáticos; – por cualquier
          inexactitud u omisión relativa a la información disponible en el
          Sitio. – por cualquier daño derivado de una intrusión fraudulenta de
          un tercero que haya originado una modificación de la información
          puesta a disposición en el sitio; – y, de un modo más general, por
          cualquier daño directo o indirecto, sean cuales fueren sus causas,
          origen, índole o consecuencias. <br /><br />5. Política de privacidad
          HOMOLOGACION TITULOS ABOGADOS, S.L. para el tratamiento de datos
          personales cumple con las exigencias del REGLAMENTO (UE) 2016/679 del
          Parlamento Europeo y del Consejo de 27 de abril de 2016 relativo a la
          protección de las personas físicas en lo que respecta al tratamiento
          de datos personales y a la libre circulación de estos datos y por el
          que se deroga la Directiva 95/46/CE (Reglamento General de Protección
          de Datos, RGPD) y la normativa vigente en materia de protección de
          datos personales. El responsable del tratamiento de los datos de
          carácter personal es JARQUE STUDIO. Para ello, junto a cada formulario
          de solicitud de datos de carácter personal Jarque Studio hará saber al
          usuario de la existencia y aceptación de las condiciones particulares
          del tratamiento de sus datos en cada caso, informándole de la
          responsabilidad del fichero creado, la dirección del responsable, la
          posibilidad de ejercer sus derechos de acceso, rectificación,
          cancelación u oposición, la finalidad del tratamiento y las
          comunicaciones de datos a terceros en su caso. De esta forma la
          inclusión de datos en formularios es absolutamente voluntaria y
          precisa de su consentimiento. La legitimación del tratamiento de los
          datos es el consentimiento que presta enviando el formulario de
          contacto. Estos datos serán utilizados únicamente para brindarle los
          servicios o la información que nos haya solicitado, así como, para
          poder informarle de otros servicios relacionados, incorporándose a un
          fichero mixto cuyo responsable es Homologación Títulos Abogados, S.L.
          Este fichero está debidamente inscrito en el Registro General de la
          Agencia Española de Protección de Datos de Carácter Personal. Los
          datos que nos faciliten los usuarios y los que posteriormente se
          puedan solicitar serán los imprescindibles conforme al principio de
          calidad de los datos para la buena gestión de los servicios o
          información encomendadas y estarán sujetos al secreto profesional. Los
          datos personales de los usuarios no serán cedidos a ningún otro
          tercero, salvo que medie el consentimiento del usuario o, en su caso,
          concurra el debido cumplimiento de una obligación legal por parte de
          Jarque Studio (licitud del tratamiento). Los usuarios dispondrán
          siempre del derecho de acceder, rectificar y suprimir los datos,
          solicitar portabilidad de estos, y si procede, oponerse o limitar su
          tratamiento. Estos derechos los puede ejercer en todo momento enviando
          un correo electrónico a: info@htabogados.es
          <br /><br />6. Uso de cookies Para la utilización de nuestro Sitio es
          necesario la utilización de cookies. En particular este portal utiliza
          Google Analytics, un servicio analítico de web prestado por Google,
          Inc., y por tanto la información que genera la cookie acerca de su uso
          del website (incluyendo su dirección IP) será directamente transmitida
          y archivada por Google en los servidores de Estados Unidos. Google
          usará esta información por cuenta nuestra con el propósito de seguir
          la pista de su uso de este portal. Las cookies se utilizan con la
          finalidad de dar información sobre el uso de este Sitio, si usted lo
          desea puede configurar su navegador para ser avisado en pantalla de la
          recepción de cookies y para impedir la instalación de cookies en su
          disco duro. Por favor, consulte las instrucciones y manuales de su
          navegador para ampliar esta información”. <br /><br />7. Ley aplicable
          y jurisdicción La ley aplicable en caso de disputa o conflicto de
          interpretación de los términos que conforman este aviso legal, así
          como cualquier cuestión relacionada con los servicios del presente
          portal, será la ley española. Para la resolución de cualquier
          conflicto que pueda surgir con ocasión de la visita al portal o el uso
          de sus servicios, Jarque Studio y el usuario acuerdan someterse a los
          jueces y tribunales de Madrid capital (España)
        </p>
      </div>
    </div>
  </section>

  <Footer />
</Layout>
