---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar2.astro";
import Footer from "../components/footer.astro";
import SmoothScroll from "../components/SmoothScroll.astro";
---

<SmoothScroll />
<Layout>
  <Navbar />

  <section class="md:flex contacto mx-auto px-4 sm:px-6 lg:px-8 mt-[100px] pb-5">
    <div class="md:w-1/3">
    <h1 class="text-5xl font-bold mb-2">Get in touch</h1>
    <p class="pb-3">Proin volutpat consequat porttitor cras nullam gravida at. Orci molestie a eu arcu. Sed ut tincidunt integer elementum id sem. Arcu sed malesuada et magna.</p>
    <ul>
      <li></li>
    </ul>
    </div>
    <div class="md:w-2/3 pl-[100px]">2</div>
  </section>
  
  
  <Footer />
</Layout>


  