---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar2.astro";
import Footer from "../components/footer.astro";
import SmoothScroll from "../components/SmoothScroll.astro";
---

<SmoothScroll />
<Layout>
  <Navbar />

  <section>
    <img
      src="/projectdev/team/fototeam.webp"
      class="md:h-[450px] h-[300px] w-full object-cover bg-fixed"
    />
  </section>

  <section class="contacto pl-6 pr-6 bg-[#F0EBE0]">
    <div class="md:max-w-[1400px] mx-auto">
      <h1 class="text-5xl font-bold md:pt-20 pt-12 md:pb-4 pb-8">Team</h1>
      <p>
        Through Jarque Studio, Boris Pena Architects delivers exceptional
        interior architecture solutions, ensuring a seamless design process from
        conception to execution. <br />With over a decade of experience, our
        firm specializes in crafting bespoke, high-quality, and versatile
        interior spaces across hospitality, commercial, and residential sectors.<br
        /> We recognize the importance of creating environments that offer unique
        experiences, tailored to the needs of each client.
      </p>
    </div>
    <!-- regina -->
    <div
      class="md:flex mx-auto md:max-w-[1400px] pt-[35px] mt-20 border-b-1 pb-[80px]"
    >
      <div class="md:w-1/4">
        <img src="/projectdev/team/regina.png" />
      </div>
      <div class="md:w-3/4 md:pl-[31px] md:pt-0 pt-5">
        <h2 class="font-semibold text-2xl">Regina Jarque</h2>
        <h3 class="border-b-1 pb-2 text-sm">
          Interior Design Principal at Jarque Studio
        </h3>
        <p class="pt-2">
          Regina Jarque is an award-winning designer known for her creative and
          innovative approach to design. As Principal at Jarque Studio, she
          skillfully leads a wide range of projects that blend luxury and
          functionality, embracing the multidimensional nature of life and
          culture. With a notable portfolio including national and international
          projects, Jarque’s journey reflects a commitment to transcend
          conventional definitions and establish new standards in design. At the
          core of Regina Jarque’s design philosophy is the profound belief that
          spaces are not mere structures, but rather, vessels waiting to unfold
          unique experiences. An architect of emotions, she forges connections
          between spaces and souls, curating environments that invite
          exploration and introspection.
        </p>
        <div class="carouselteam mt-4 border-t-1 pt-3 border-b-1 pb-3">
          <div class="mr-2">
            <img
              src="/projectdev/unico_jamaica.png"
              alt="Nature"
              class="w-full h-full object-cover object-left"
            />
          </div>
          <div class="mr-2">
            <img
              src="/projectdev/unico_jamaica.png"
              alt="Nature"
              class="w-full h-full object-cover object-left"
            />
          </div>
          <div class="mr-2">
            <img
              src="/projectdev/unico_jamaica.png"
              alt="Nature"
              class="w-full h-full object-cover object-left"
            />
          </div>
          <div class="mr-2">
            <img
              src="/projectdev/unico_jamaica.png"
              alt="Nature"
              class="w-full h-full object-cover object-left"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- regina -->
    <!-- paula -->
    <div
      class="md:flex mx-auto md:max-w-[1400px] pt-[100px] mt-0 border-b-1 pb-[80px] md:flex-row-reverse"
    >
      <div class="md:w-1/4 flex items-center justify-center">
        <img
          src="/projectdev/team/paula.png"
          class="rounded-full h-[300px] w-[300px] block mx-auto object-cover"
        />
      </div>
      <div class="md:w-3/4 md:pl-[31px] md:pt-0 pt-5">
        <h2 class="font-semibold text-2xl">Paula Pena</h2>
        <h3 class="border-b-1 pb-2 text-sm">
          Architecture Director at BPA BCN
        </h3>
        <p class="pt-2 text-sm">
          Born and raised in Spain, Paula and her family transferred to Mexico
          City, where she obtained a Bachelor’s degree in Architecture and
          Urbanism at Universidad Iberoamericana. Socially and professionally
          active, she took on the role of president of the student society,
          always seeking a critical and objective stance when taking action.
          Coming from a family of architects, it was expected that Paula would
          become a passionate architect, driven and with outstanding leadership
          and decision-making skills. Throughout her professional trajectory,
          Paula has been working side by side with her father, Boris, until she
          became the Architecture Director at BPA Barcelona. Focused on
          conceptualization and research, she seeks to contribute to a social,
          conscious, and cooperative architecture, aspiring to create innovative
          and sustainable designs that enrich the lives of communities and
          promote positive change.
        </p>
        <div class="carouselteam mt-4 border-t-1 pt-3 border-b-1 pb-3">
          <div class="mr-2">
            <img
              src="/projectdev/unico_jamaica.png"
              alt="Nature"
              class="w-full h-full object-cover object-left"
            />
          </div>
          <div class="mr-2">
            <img
              src="/projectdev/unico_jamaica.png"
              alt="Nature"
              class="w-full h-full object-cover object-left"
            />
          </div>
          <div class="mr-2">
            <img
              src="/projectdev/unico_jamaica.png"
              alt="Nature"
              class="w-full h-full object-cover object-left"
            />
          </div>
          <div class="mr-2">
            <img
              src="/projectdev/unico_jamaica.png"
              alt="Nature"
              class="w-full h-full object-cover object-left"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- paula -->
    <!-- paula -->
    <div
      class="md:flex mx-auto md:max-w-[1400px] pt-[100px] mt-0 border-b-1 pb-[80px]"
    >
      <div class="md:w-1/4 md:pt-22">
        <img src="/projectdev/team/paula.png" />
        <p class="pt-2 text-sm">
          Born and raised in Spain, Paula and her family transferred to Mexico
          City, where she obtained a Bachelor’s degree in Architecture and
          Urbanism at Universidad Iberoamericana. Socially and professionally
          active, she took on the role of president of the student society,
          always seeking a critical and objective stance when taking action.
          Coming from a family of architects, it was expected that Paula would
          become a passionate architect, driven and with outstanding leadership
          and decision-making skills. Throughout her professional trajectory,
          Paula has been working side by side with her father, Boris, until she
          became the Architecture Director at BPA Barcelona. Focused on
          conceptualization and research, she seeks to contribute to a social,
          conscious, and cooperative architecture, aspiring to create innovative
          and sustainable designs that enrich the lives of communities and
          promote positive change.
        </p>
      </div>
      <div class="md:w-3/4 md:pl-[31px] md:pt-0 pt-5">
        <h2 class="font-semibold text-2xl">Paula Pena</h2>
        <h3 class="border-b-1 pb-2 text-sm">
          Architecture Director at BPA BCN
        </h3>

        <div class="carouselteam2 mt-4 pt-3 border-b-1 pb-3">
          <div class="mr-2">
            <img
              src="/projectdev/unico_jamaica.png"
              alt="Nature"
              class="w-full h-full object-cover object-left"
            />
          </div>
          <div class="mr-2">
            <img
              src="/projectdev/unico_jamaica.png"
              alt="Nature"
              class="w-full h-full object-cover object-left"
            />
          </div>
          <div class="mr-2">
            <img
              src="/projectdev/unico_jamaica.png"
              alt="Nature"
              class="w-full h-full object-cover object-left"
            />
          </div>
          <div class="mr-2">
            <img
              src="/projectdev/unico_jamaica.png"
              alt="Nature"
              class="w-full h-full object-cover object-left"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- paula -->
    <!-- paula -->
    <div
      class="md:flex mx-auto md:max-w-[1400px] pt-[100px] mt-0 border-b-1 pb-[80px] md:flex-row-reverse"
    >
      <div class="md:w-1/4">
        <img
          src="/projectdev/team/paula.png"
          class="rounded-full h-[300px] w-[300px] block mx-auto object-cover mb-4"
        />
        <p class="pt-2 text-sm">
          Born and raised in Spain, Paula and her family transferred to Mexico
          City, where she obtained a Bachelor’s degree in Architecture and
          Urbanism at Universidad Iberoamericana. Socially and professionally
          active, she took on the role of president of the student society,
          always seeking a critical and objective stance when taking action.
          Coming from a family of architects, it was expected that Paula would
          become a passionate architect, driven and with outstanding leadership
          and decision-making skills. Throughout her professional trajectory,
          Paula has been working side by side with her father, Boris, until she
          became the Architecture Director at BPA Barcelona. Focused on
          conceptualization and research, she seeks to contribute to a social,
          conscious, and cooperative architecture, aspiring to create innovative
          and sustainable designs that enrich the lives of communities and
          promote positive change.
        </p>
      </div>
      <div class="md:w-3/4 md:pl-[31px] md:pt-0 pt-5">
        <h2 class="font-semibold text-2xl">Paula Pena</h2>
        <h3 class="border-b-1 pb-2 text-sm">
          Architecture Director at BPA BCN
        </h3>

        <div class="carouselteam2 mt-4 pt-3 border-b-1 pb-3">
          <div class="mr-2">
            <img
              src="/projectdev/unico_jamaica.png"
              alt="Nature"
              class="w-full h-full object-cover object-left"
            />
          </div>
          <div class="mr-2">
            <img
              src="/projectdev/unico_jamaica.png"
              alt="Nature"
              class="w-full h-full object-cover object-left"
            />
          </div>
          <div class="mr-2">
            <img
              src="/projectdev/unico_jamaica.png"
              alt="Nature"
              class="w-full h-full object-cover object-left"
            />
          </div>
          <div class="mr-2">
            <img
              src="/projectdev/unico_jamaica.png"
              alt="Nature"
              class="w-full h-full object-cover object-left"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- paula -->
  </section>

  <Footer />
</Layout>

<link
  rel="stylesheet"
  type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
/>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
></script>
<script>
  $(".carouselteam").slick({
    centerMode: false,
    arrows: false,
    dots: true,
    infinite: true,
    slidesToShow: 2,
    centerPadding: "0px",
    speed: 500,
    variableWidth: false,
  });
  $(".carouselteam2").slick({
    centerMode: false,
    arrows: false,
    dots: true,
    infinite: true,
    slidesToShow: 1,
    centerPadding: "0px",
    speed: 500,
    variableWidth: false,
  });
</script>
