<div id="detalles">
  <h3 class="border-b mt-[81px] text-xl pb-3 font-bold mb-4">DETAILS</h3>

  <div class="grid grid-cols-3 gap-2">
    <div>
      <img
        class="w-full md:h-[400px] h-[100px] object-cover"
        src="/detalle/foto1.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="w-full md:h-[400px] h-[100px] object-cover"
        src="/detalle/foto2.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="w-full
                md:h-[400px] h-[100px] object-cover"
        src="/detalle/foto3.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="w-full md:h-[400px] h-[100px] object-cover"
        src="/detalle/foto4.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="w-full md:h-[400px] h-[100px] object-cover"
        src="/detalle/foto5.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="w-full md:h-[400px] h-[100px] object-cover"
        src="/detalle/foto6.jpg"
        alt=""
      />
    </div>
  </div>
</div>
