---
import Section from "./Section.astro";
---

<Section
  title="UNICO JAMAICA"
  subtitle="SITE SIZE 107,034 M2 | BUILDING AREA 70,590 M2 | KEYS 451"
  color="white"
  id="home"
>
  <img
    slot="background"
    class="object-center object-cover h-full w-full opacity-85"
    src="projectdev/unico_jamaica.png"
  />
</Section>
