---
import Section from "./Section.astro";
---

<Section
  title="NOBU ORLANDO"
  subtitle="SITE SIZE 650,000 SQFT | BUILDING AREA 437,036 SQFT | KEYS 363"
  color="white"
  id="home"
>
  <img
    slot="background"
    class="object-center object-cover h-full w-full opacity-95"
    src="/projectdev/hero.png"
  />
</Section>
