---
import Section from "./Section.astro";
---

<Section
  title="DOMA PUNTA CANA"
  subtitle="SITE SIZE 119,188 M2 | BUILDING AREA 48,006 M2 | APTS 96"
  color="black"
  id="home"
>
  <img
    slot="background"
    class="object-center object-cover h-full w-full opacity-70"
    src="/projectdev/doma_punta_cana.png"
  />
</Section>
