<section
  class="flex items-center justify-center w-full bg-[#F0EBE0] pb-10 pt-30"
>
  <div class="w-full xl:w-[80%] px-1 md:px-10">
    <div class="flex flex-col">
      <!-- Main Bento Grid -->
      <div class="grid grid-cols-3 md:grid-cols-4 md:grid-rows-2">
        <!-- Big Left Image (2x2) -->

        <div
          class="flex flex-col row-span-2 col-span-3 md:col-span-1 overflow-hidden h-full bg-[#F0EBE0] md:border"
        >
          <div
            class="flex-1 overflow-hidden flex justify-center flex-col text-center md:text-start pb-5 md:pb-0 px-1"
          >
            <h3 class="text-4xl md:pl-4 pb-0 font-semibold">ÚNICO JAMAICA</h3>
            <p class="text-md md:pl-5">By Jarque Studio</p>
          </div>
        </div>

        <div
          class="flex flex-col col-span-3 row-span-2 overflow-hidden h-full border border-l-0"
        >
          <div class="flex-1 overflow-hidden">
            <img
              src="/projectdev/unico_jamaica.png"
              alt="Nature"
              class="w-full h-full object-cover object-left transition duration-500 p-0.5"
            />
          </div>
          <!-- <div
            class="h-16 text-center flex flex-col justify-center text-gray-700 pb-1"
          >
            <h3 class="uppercase text-sm font-medium">ÚNICO JAMAICA</h3>
            <p class="text-gray-600 text-xs uppercase">BY JARQUE STUDIO</p>
          </div> -->
        </div>

        <div
          class="flex flex-col col-span-2 overflow-hidden h-full border border-t-0 border-r-0"
        >
          <div class="flex-1 overflow-hidden">
            <img
              src="/projectdev/ujabig2.png"
              alt="Nature"
              class="w-full h-full object-cover object-left transition duration-500 p-1"
            />
          </div>
          <div
            class="h-16 text-center flex flex-col justify-center text-gray-700 pb-1"
          >
            <h3 class="uppercase text-sm font-medium">Montego Bay</h3>
            <p class="text-gray-600 text-xs uppercase">FIVE-STAR RESORT</p>
          </div>
        </div>

        <!-- Top Right Small Images (1x1 each) -->

        <div
          class="flex flex-col overflow-hidden h-full border border-t-0 md:border-r-0"
        >
          <div class="flex-1 overflow-hidden">
            <img
              src="/projectdev/lookfeel/foto10.jpg"
              alt="Nature"
              class="w-full h-full object-cover object-center transition duration-500 p-1"
            />
          </div>
          <!-- <div class="h-16 text-center flex flex-col justify-center">
            <h3 class="uppercase text-sm font-medium">Título</h3>
            <p class="text-gray-600 text-xs uppercase">Descripción</p>
          </div> -->
        </div>

        <!-- Middle Wide Image (2x1) -->

        <!-- Bottom Wide Image (2x1) -->

        <!-- Small Bottom Images (1x1) -->
        <div
          class="flex flex-col overflow-hidden h-full border border-t-0 border-r-0 md:border-r-1"
        >
          <div
            class="flex-1 overflow-hidden flex justify-center flex-col text-center md:text-end pb-5 md:pb-0 px-1"
          >
            <p class="text-lg md:pr-4">SITE SIZE 107,034 M2 |</p>
            <p class="text-lg md:pr-4">BUILDING AREA 70,590 M2 |</p>
            <p class="text-lg md:pr-4">KEYS 451 |</p>
          </div>
          <!-- <div class="h-16 text-center flex flex-col justify-center">
            <h3 class="uppercase text-sm font-medium">asdf</h3>
            <p class="text-gray-600 text-xs uppercase">Descripción</p>
          </div> -->
        </div>

        <div
          class="flex flex-col col-span-2 md:col-span-1 overflow-hidden h-full border border-t-0 md:border-r-0"
        >
          <div class="flex-1 overflow-hidden">
            <img
              src="/projectdev/uja10.png"
              alt="Art"
              class="w-full h-full object-cover transition duration-500 p-1"
            />
          </div>
          <div class="h-16 text-center flex flex-col justify-center">
            <h3 class="uppercase text-sm font-medium">CUSTOM MADE TABLES</h3>
            <p class="text-gray-600 text-xs uppercase">SOLID SMOKED OAK</p>
          </div>
        </div>

        <!-- Vertical Images (1x2) -->
        <div
          class="flex flex-col col-span-3 md:col-span-1 md:row-span-1 overflow-hidden h-full border border-t-0 md:border-r-0"
        >
          <div class="flex-1 overflow-hidden">
            <img
              src="/projectdev/uja11.png"
              alt="Nature"
              class="w-full h-full object-cover object-center transition duration-500 p-1"
            />
          </div>
          <!-- <div class="h-16 text-center flex flex-col justify-center">
            <h3 class="uppercase text-sm font-medium">
              NESTED ON JAMAICA'S NORTH SHORE
            </h3>
            <p class="text-gray-600 text-xs uppercase"></p>
          </div> -->
        </div>

        <div
          class="flex flex-col col-span-3 md:col-span-2 overflow-hidden h-full border border-t-0"
        >
          <div class="flex-1 overflow-hidden">
            <img
              src="/projectdev/detalle/detailunico2.png"
              alt="Nature"
              class="w-full h-full object-cover object-center transition duration-500 p-1"
            />
          </div>
          <!-- <div class="h-16 text-center flex flex-col justify-center">
          <h3 class="uppercase text-sm font-medium">Título</h3>
          <p class="text-gray-600 text-xs uppercase">Descripción</p>
        </div> -->
        </div>

        <div
          class="flex flex-col col-span-3 md:col-span-1 md:row-span-1 overflow-hidden h-full border border-t-0 md:border-r-0"
        >
          <div class="flex-1 overflow-hidden">
            <img
              src="/projectdev/uja8.png"
              alt="Nature"
              class="w-full h-full object-cover object-center transition duration-500 p-1"
            />
          </div>
          <!-- <div class="h-16 text-center flex flex-col justify-center">
            <h3 class="uppercase text-sm font-medium">Título</h3>
            <p class="text-gray-600 text-xs uppercase">Descripción</p>
          </div> -->
        </div>

        <!-- Wide Bottom Image (2x1) -->
        <div
          class="flex flex-col col-span-3 md:col-span-2 md:row-span-2 overflow-hidden h-full border border-t-0 md:border-r-0"
        >
          <div class="flex-1 overflow-hidden">
            <img
              src="/projectdev/uja6.png"
              alt="Nature"
              class="w-full h-full object-cover object-bottom transition duration-500 p-1"
            />
          </div>
          <div class="h-16 text-center flex flex-col justify-center">
            <h3 class="uppercase text-sm font-medium">312 SEATS</h3>
            <p class="text-gray-600 text-xs uppercase">TOTAL SEATING</p>
          </div>
        </div>

        <!-- Small Bottom Images (1x1) -->
        <div
          class="flex flex-col md:row-span-2 overflow-hidden h-full border border-t-0"
        >
          <div class="flex-1 overflow-hidden">
            <img
              src="/projectdev/uja7.png"
              alt="Nature"
              class="w-full h-full object-cover object-center transition duration-500 p-1"
            />
          </div>
          <!-- <div class="h-16 text-center flex flex-col justify-center">
            <h3 class="uppercase text-sm font-medium">Título</h3>
            <p class="text-gray-600 text-xs uppercase">Descripción</p>
          </div> -->
        </div>

        <div
          class="flex flex-col col-span-2 md:col-span-1 overflow-hidden h-full border border-t-0 md:border-r-0 border-l-0 md:border-l-1"
        >
          <div class="flex-1 overflow-hidden">
            <img
              src="/projectdev/wood.png"
              alt="Nature"
              class="w-full h-full object-cover object-center transition duration-500 p-10 rounded-full"
            />
          </div>
          <div class="h-16 text-center flex flex-col justify-center">
            <h3 class="uppercase text-sm font-medium">WHITE OAK WOOD VENEER</h3>
            <p class="text-gray-600 text-xs uppercase">
              MATTE FINISH OR SIMILAR A.A.S.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Second Bento Grid -->
    <div class="grid grid-cols-3 md:grid-cols-6 grid-rows-2 overflow-hidden">
      <!-- Small Images (1x1) -->
      <div
        class="flex flex-col overflow-hidden h-full border border-t-0 border-r-0"
      >
        <div class="flex-1 overflow-hidden">
          <img
            src="/projectdev/uja3.png"
            alt="Small Image 1"
            class="w-full h-full object-cover transition duration-500 p-1"
          />
        </div>
      </div>

      <div
        class="flex flex-col overflow-hidden h-full border border-t-0 border-r-0"
      >
        <div class="flex-1 overflow-hidden">
          <img
            src="/projectdev/uja2.png"
            alt="Small Image 2"
            class="w-full h-full object-cover transition duration-500 p-1 border-t-0 border-r-0"
          />
        </div>
      </div>

      <div
        class="flex flex-col overflow-hidden h-full border border-t-0 border-r-0"
      >
        <div class="flex-1 overflow-hidden">
          <img
            src="/projectdev/10.png"
            alt="Small Image 3"
            class="w-full h-full object-cover transition duration-500 p-1"
          />
        </div>
      </div>

      <!-- Big Right Image (3x2) -->
      <div
        class="flex flex-col col-span-3 row-span-2 overflow-hidden h-full border border-t-0"
      >
        <div class="flex-1 overflow-hidden">
          <img
            src="/projectdev/comedor.png"
            alt="Big Image"
            class="w-full h-full object-cover transition duration-500 p-1"
          />
        </div>
        <div class="h-16 text-center flex flex-col justify-center">
          <h3 class="uppercase text-sm font-medium">BOOTH FINISHED</h3>
          <p class="text-gray-600 text-xs uppercase">
            IN WHITE OAK WOOD VENEER
          </p>
        </div>
      </div>

      <!-- Bottom Small Images (1x1) -->
      <div
        class="flex flex-col col-rows-2 overflow-hidden h-full border border-t-0 border-r-0"
      >
        <div class="flex-1 overflow-hidden">
          <img
            src="/projectdev/uja4.png"
            alt="Small Image 4"
            class="w-full h-full object-cover transition duration-500 p-1"
          />
        </div>
      </div>

      <div
        class="flex flex-col col-rows-2 overflow-hidden h-full border border-t-0 border-r-0"
      >
        <div class="flex-1 overflow-hidden">
          <img
            src="/projectdev/uja5.png"
            alt="Small Image 5"
            class="w-full h-full object-cover transition duration-500 p-1"
          />
        </div>
      </div>

      <div
        class="flex flex-col col-rows-2 overflow-hidden h-full border border-t-0 border-r-0"
      >
        <div class="flex-1 overflow-hidden">
          <img
            src="/projectdev/14.png"
            alt="Small Image 6"
            class="w-full h-full object-cover transition duration-500 p-1"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_RaQhqQG4xt1EM8ZLIv8hoz0NJrheV04"
></script>
<script>
  function initMap() {
    const unicojamaica = { lat: 18.51733983344712, lng: -77.78425648465588 };

    const customMapStyle = [
      {
        elementType: "geometry",
        stylers: [{ color: "#F0EBE0" }],
      },
      {
        elementType: "labels.text.fill",
        stylers: [{ color: "#6B6B6B" }], // Texto en tonos oscuros para contraste
      },
      {
        elementType: "labels.text.stroke",
        stylers: [{ color: "#F0EBE0" }], // Fondo del texto en el mismo color base
      },
      {
        featureType: "administrative",
        elementType: "geometry",
        stylers: [{ visibility: "off" }], // Ocultar bordes administrativos
      },
      {
        featureType: "poi",
        elementType: "geometry",
        stylers: [{ color: "#E8E4D8" }], // Lugares de interés en un tono más claro
      },
      {
        featureType: "road",
        elementType: "geometry",
        stylers: [{ color: "#D6D1C4" }], // Carreteras en un tono más oscuro
      },
      {
        featureType: "road",
        elementType: "geometry.stroke",
        stylers: [{ color: "#C8C3B6" }], // Bordes de carreteras
      },
      {
        featureType: "water",
        elementType: "geometry",
        stylers: [{ color: "#E0DBCF" }], // Agua en un tono suave
      },
      {
        featureType: "transit",
        stylers: [{ visibility: "off" }], // Ocultar transporte público
      },
      {
        featureType: "poi.place_of_worship", // Ocultar iglesias y lugares de culto
        stylers: [{ visibility: "off" }],
      },
    ];

    const map = new google.maps.Map(document.getElementById("customMap"), {
      center: unicojamaica,
      zoom: 15,
      disableDefaultUI: true,
      gestureHandling: "none",
      styles: customMapStyle,
    });
  }

  window.addEventListener("load", initMap);
</script>

<style>
  /* img {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
  }

  img:hover {
    filter: grayscale(0%);
  } */
</style>
